// Variables
// Create Variables
@import "library";

$font-s: 32px;
$primary-color: red;
$secondary-color: rgba(68, 28, 133, 0.3);

// Variables in a variables
$bg-color: rgba($secondary-color, 0.5);

#Variable {
  li {
    font-size: $font-s;
    &:first-child {
      color: $primary-color;
    }
    &:nth-child(even) {
      color: $secondary-color;
    }
    &:last-child:hover {
      color: $secondary-color;
      background-color: $bg-color;
      cursor: pointer;
    }
  }
}

//Default Values
// $default-font-s: 50px;

#Default {
  li.#{default} {
    font-size: $default-font-s;
    &:first-child {
      color: $primary-color;
      color: $default-c;
    }
    &:nth-child(even) {
      color: $secondary-color;
      color: $default-c;
    }
    &:last-child:hover {
      color: $secondary-color;
      background-color: $default-c;
      cursor: pointer;
      box-shadow: $box-shadow;
    }
  }
}

// Scope
$font-normal: 200;
$font-bold: 900;
$scope: green;
#Scope {
  li {
    font-weight: $font-bold;
    color: $primary-color;
    &:first-child {
      $scope: green;
      color: $scope;
    }
    &:nth-child(2) {
      color: $secondary-color;
      color: $scope;
    }
  }
}

// Shadowing

$bold: 900;
$color: red;

.Shadowing {
  p {
    font-size: 2rem;
    &:first-child {
      color: green;
      $bold: 500;
      font-weight: $bold;
    }
    &:nth-child(2) {
      $color: blue !global;
      color: $color;
      font-weight: $bold;
    }
    &:last-child {
      color: $color;
      font-weight: $bold;
    }
  }
}

// Flow Control Scope

$dark-theme: true !default;
$primary-color: #3f4bf7;
$accent-color: #6a1b9a;
$text-color: red !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 50%);
  $text-color: lighten($text-color, 10%);
}

.Flow {
  p {
    background-color: $primary-color;
    border-radius: 5px solid $accent-color;
    color: $text-color;
    border-radius: 3px;
    font-size: 2rem;
    &:first-child {
      $dark-theme: false;
      $primary-color: #3f4bf7;
      $accent-color: #6a1b9a;
      $text-color: red !default;

      @if $dark-theme {
        $primary-color: darken($primary-color, 60%);
        $accent-color: lighten($accent-color, 50%);
        $text-color: lighten($text-color, 10%);
      }
      background-color: $primary-color;
      border: 5px solid $accent-color;
      color: $text-color;
    }
  }
}

// Advance Variable Functions
$theme-color: (
  "success": green,
  "info": lightblue,
  "warning": red,
);
$colors: (
  "light": rgb(201, 214, 83),
  "dark": rgb(28, 38, 41),
  "white": white,
);

.Advanced {
  p {
    font-size: 2rem;
    &:first-child {
      background-color: map-get($theme-color, "success");
      color: map-get($colors, "light");
    }
    &:nth-child(2) {
      background-color: map-get($theme-color, "info");
      color: map-get($colors, "dark");
    }
    &:last-child {
      background-color: map-get($theme-color, "warning");
      color: map-get($colors, "white");
    }
  }
}

// Colors

$named: red;
$hexa: #444;
$rgb: rgb(25, 16, 30);

#Colors {
  .Colors-list{
    font-size: 1.5rem;
    li{
      &:first-child{
        color: $named;
      }
      &:nth-child(2){
        color: $named;
      }
      &:nth-child(3){
        background-color: $rgb;
        $rgb: rgb(103, 28, 143);
        color: $rgb;
      }
      &:nth-child(4){
        background-color: rgba($rgb, 0.55);
        span {
          &:first-child {
            background-color: rgba($named, 0.7);
          }
          &:last-child{
            background-color: rgba($hexa, 0.2);
          }
        }
      }
    }
  }
}